.rootContainer {
    min-height: 100vh;
    overflow-x: hidden;
}

.numberContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        font-size: 32px;
        font-weight: 600;
    }
}

.routesContainer {
    width: 100%;
    height: 100%;

    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(345px, auto));

    align-content: center;
    justify-content: center;
    justify-items: center;

    margin-top: 2%;
    margin-bottom: 2%;
}

.routesItems {
    padding: 32px
}

@media only screen and (max-width: 960px) {
    .routesContainer {
        display: flex;
        row-gap: 3rem;
        flex-direction: column;
        align-items: center;
        margin: 3rem auto 3rem;
    }

    .numberContainer {
        p {
            font-size: 20px;
            font-weight: 600;
        }
    }

    .routesItems {
        padding: 0;
    }

}