/* Card Carousel Section*/
.cardsWantedContainer {
    grid-column-start: 2;
}

.cardsWantedText {
    font-size: 32px;
    font-weight: bold;
    padding-top: 20px;
}

.card_container{
    padding: 30px;
    width: 251px;
    --rating-card-height: 277px;

    &:hover {
        transform: scale(1.1);
    }
}
