/* Card Carousel Section*/
.cardsWantedContainer {
    grid-column-start: 2;
}

.cardsWantedText {
    font-size: 32px;
    font-weight: bold;
    padding-top: 20px;
}

.cardsWantedCarousel {
    /* as of the Swiper as a part of the SliderCards component */
    /* this class serves no purpose yet */
    /* this used to work when the Swiper wasn't in this component*/
    /* like in the tourism page */
    /*
    padding: 30px;
    */
}

.card_container{
    padding: 30px;
    width: 251px;
    --rating-card-height: 277px;

    &:hover {
        transform: scale(1.1);
    }
}
