/* Carousel section */
.carouselContainer{
    width: 100%;
    height: 100%;
    display: flex;
}

.carouselText {
    font-size: 64px;
    font-weight: bold;
    user-select: none;
    color: var(--text-white);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    z-index: 2;
    position: absolute;

    margin-left: 10%;
    margin-bottom: 8%;

    align-self: flex-end;
}

.carouselSearchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: absolute;
    margin-top: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.swiper {
    --swiper-pagination-bullet-width: 25px !important;
    --swiper-pagination-bullet-height: 25px !important;
    --swiper-pagination-bullet-color: #1D85D9;

    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-inactive-color: #E6F2FB;
}

.swiperSlide {
    width: 100%;
    height: 590px;
}

.swiperSlide img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}

@media only screen and (max-width: 1024px) {
    .carouselText {
        font-size: 48px;
    }
}

@media only screen and (max-width: 992px) {
    .carouselText {
        font-size: 48px;
        margin-bottom: 10%;
    }
}

@media only screen and (max-width: 480px) {
    .carouselText {
        font-size: 48px;
        margin-bottom: 15%;
    }
}