.hotelsContainer {
  min-height: 100vh;
}

/* Main content Container Section*/
.hotelsContent {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 3rem;
  /*
    display: grid;
    grid-template-columns: 1fr minmax(1220px, 1fr) 1fr;
  */
}

/* Card List Section*/

.cardsListContainer {
  padding-top: 5%;
  grid-column-start: 2;

  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

/* Responsivity section*/

